<script type="text/javascript" src="/js/helper.js"></script>
<script>loadCSS("/css/user_profile.css")</script>

<%= erb(:header, :layout => false) %>

<div class="main-container">

	<aside>
		<div class="profile-picture">
			<img src="<%=@user.image_url%>">
		</div>

		<h1 class="center"> <%= @user.username %> </h1>

	</aside>
	
	<section class="profile-main">

		<ul class="fancy-list">
			<li>Extraversion: <%= @user.personality.extraversion %>%</li>
			<li>Agreeableness: <%= @user.personality.agreeableness %>%</li>
			<li>Conscientiousness: <%= @user.personality.conscientiousness %>%</li>
			<li>Emotional Stability: <%= @user.personality.emotional_stability %>%</li>
			<li>Intellect/Imagination: <%= @user.personality.intellect_imagination %>%</li>
		</ul>

	</section>


</div>