<script type="text/javascript" src="/js/helper.js"></script>
<script>loadCSS("/css/user_profile.css")</script>

<%= erb(:header, :layout => false) %>

<div class="clear-header"></div>

<div class="main-container">

	<aside>
		<div class="profile-picture"></div>

		<h1 class="center"> <%= @user.username %> </h1>

		<input class="sidebar-input" type="text" name="name" placeholder="Name"></input>
		<input class="sidebar-input" type="text" name="zipcode" placeholder="Zipcode"></input>

		<input class="sidebar-button" type="submit" value="Update"></input>

	</aside>
	
	<section class="profile-main">

		<ul class="fancy-list">
			<li>Extraversion: <%= @user.personality.extraversion %>%</li>
			<li>Agreeableness: <%= @user.personality.agreeableness %>%</li>
			<li>Conscientiousness: <%= @user.personality.conscientiousness %>%</li>
			<li>Emotional Stability: <%= @user.personality.emotional_stability %>%</li>
			<li>Intellect/Imagination: <%= @user.personality.intellect_imagination %>%</li>
		</ul>

	</section>


</div>